.login-main {
  display: flex;
  flex-direction: column;
}

.bienvenido-container h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  color: #545f71;
  font-size: 32px;
  margin-bottom: 4px;
}

.bienvenido-container p {
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #545f71;
  opacity: 0.5;
  margin-top: 0px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 16px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container form input {
  margin-top: 24px;
  border-radius: 8px;
  border: 2px solid #e0def7;
  height: 48px;
  background-color: #f7f7fd;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  outline: none;
  padding-left: 12px;
}

.form-container form input::placeholder {
  color: black;
  opacity: 0.5;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  position: absolute;
  left: 12px;
}

.perfil-container {
  display: flex;
  flex-direction: row;
}

.perfil-container p {
  color: #000929;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
}

.password-container {
  width: 100%;
  display: flex;
}

#password {
  width: 80%;
  margin-right: -1px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.eye-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 24px;
  margin-left: 0px;
  border: 2px solid #e0def7;
  border-left: none;
  height: 50px;
  background-color: #f7f7fd;
  outline: none;
  width: 20%;
}

#forgot {
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  color: #7065f0;
  font-size: 14px;
  cursor: pointer;
}

.register-container {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  width: 90%;
}

.btn-register {
  color: white;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  background: rgb(105, 65, 198);
  background: linear-gradient(
    90deg,
    rgba(105, 65, 198, 1) 0%,
    rgba(83, 56, 158, 1) 0%
  );
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.register-container p {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #6c727f;
}

.register-container span {
  font-weight: bold;
  color: #000929;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .bienvenido-container h1 {
    margin-top: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: left;
    color: #000929;
    font-size: 32px;
    margin-bottom: 4px;
  }

  .bienvenido-container p {
    text-align: left;
  }

  .login-main {
    height: max-content;
    width: 60%;
  }

  .btn-register {
    background: #7065f0;
  }
}
